.character-select-container {
  display: flex;
  position: absolute;
  width: 180px;
  left: 50%; /* Move to the center of the parent */
  transform: translateX(-50%); /* Adjust back by half its own width */
  padding: 3.3px;
  justify-content: space-around; /* Ensures even spacing between icons */
  align-items: center;
  background-color: rgba(20, 24, 28, 0.8);
  height: 50px;
  border-radius: 25px;
}

.character-icon {
  position: relative;
  pointer-events: none;
}
.is-grayed {
  pointer-events: auto;
  cursor: pointer;
  opacity: 0.2;
}
